Rag model.json
{
  "name": "Rag model",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2992,
        80
      ],
      "id": "d474d31e-543e-4772-b508-5741d2a627ab",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1vy8KZtckO8jEUuxxG--NL4XaIuA6hYzP",
            "mode": "list",
            "cachedResultName": "Testing",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1vy8KZtckO8jEUuxxG--NL4XaIuA6hYzP"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2784,
        80
      ],
      "id": "dc711ce3-9763-4a18-adb4-4ea99d9e359e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MhTW4qH21e5TTuKV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2576,
        80
      ],
      "id": "283b6f0e-942f-4911-a800-073dd150ab9e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MhTW4qH21e5TTuKV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "eduassist",
          "mode": "list",
          "cachedResultName": "eduassist"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2256,
        80
      ],
      "id": "d2f29b29-a1ba-4f10-b90d-54c6bfee7c8f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "XWEHsDTRsTLd5pRc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2112,
        288
      ],
      "id": "6ab97702-098f-4e69-a732-76aec558aa71",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 100000,
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2016,
        496
      ],
      "id": "d519ed0e-bd7d-40f8-a665-a93fa8d29eba",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -2256,
        288
      ],
      "id": "31a1b5d4-ccbb-4163-b0b1-142aadd5dff4",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "IgyHMa5BZTze0XIJ",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG",
        "height": 688,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3072,
        -16
      ],
      "typeVersion": 1,
      "id": "8b7babc3-c424-4286-843c-5f53a8eef71e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1472,
        16
      ],
      "id": "668bc437-23f6-4de5-bd3d-29d472b373e2",
      "name": "When chat message received",
      "webhookId": "81f3a7fd-f9de-4b85-b8c2-2c1609ab51ea"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1264,
        16
      ],
      "id": "e1fae918-dced-4753-8b2b-7466b8828f14",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1248,
        224
      ],
      "id": "a218830b-a5cd-4868-9658-c12d6a8c8310",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "English speaking and communication skills topics- listening skills and public speaking skills"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1104,
        224
      ],
      "id": "0a1c2cec-c425-4686-9945-69e34da026f1",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-test",
          "mode": "list",
          "cachedResultName": "rag-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1200,
        416
      ],
      "id": "17cfe8cc-60c8-4705-9f68-8b738357c615",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "XWEHsDTRsTLd5pRc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -1280,
        560
      ],
      "id": "8f35d508-fade-4fae-a729-8167b4661834",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "IgyHMa5BZTze0XIJ",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Answer",
        "height": 800,
        "width": 992,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        -32
      ],
      "typeVersion": 1,
      "id": "85e92281-8bd7-4b71-82fb-eaf4689674d0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        384
      ],
      "id": "8797fa50-f8c6-49ec-be22-3e33a58fc760",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sROMuW0a0kXaR4JE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1408,
        240
      ],
      "id": "85cb6a20-1f9d-456d-84b0-0e1b39754662",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "sROMuW0a0kXaR4JE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92604c48-8482-4992-b253-a47f5e88f63d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6295a2d2410ea7adabfe58e11c28175e30893a5e3d1ec73e94bced00380623b3"
  },
  "id": "UGupdu7ypNEuCWAP",
  "tags": []
}